# Node.js 의존성 폴더 제외
node_modules

# 빌드 결과물 제외
build
dist

# Git 관련 파일 및 디렉토리 제외
.git
.gitignore

# 환경 변수 파일 제외
.env
.env.*.local

# 로그 파일 제외
*.log

# 운영체제별 파일 제외
.DS_Store
Thumbs.db

# Kubernetes 설정 폴더 제외
k8s

# 문서 파일 제외
README.md
CHANGELOG.md

# 테스트 관련 폴더 제외
coverage
